@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: rgb(10, 10, 10);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dee5e1;
    --foreground: rgb(10, 10, 10);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}
