@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: rgb(10, 10, 10);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dee5e1;
    --foreground: rgb(10, 10, 10);
  }
}

@layer base {
  body {
    @apply min-h-screen overflow-auto;
  }

  .stars {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
  }

  .star {
    position: absolute;
    border-radius: 50%;
    animation: twinkle linear infinite;
  }

  /* Dark Mode: White Stars */
.dark .star {
  background: white;
  opacity: 0.5;
}

/* Light Mode: Dark Gray Stars */
.star {
  background: rgb(0, 0, 0);
  opacity: 0.3;
}


  @keyframes twinkle {
    0%, 100% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.page-transition {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.page-transition.fade-out {
  opacity: 0;
}
