@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(
    135deg,
    #ffffff 0%,    /* pure white */
    #f5f5f5 50%,   /* light grayish white */
    #e5e5e5 100%   /* slightly darker white */
  );
  --foreground: rgb(10, 10, 10);
}

.dark {
  --background: linear-gradient(
    135deg,
    #000000 0%,
    #0e0e0e 10%,
    #1e1d1d 20%,
    #242323 30%,
    #202020 40%,
    #1a1a1a 50%,
    #161616 60%,
    #0e0e0e 70%,
    #262626 100% 
  );
  --foreground: rgb(245, 245, 245);
}

@layer base {
  body {
    @apply min-h-screen overflow-auto;
  }

  .stars {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
  }

  /* Light Mode: Dark Gray Stars */
  .star {
    position: absolute;
    border-radius: 50%;
    animation: twinkle linear infinite;
    background: rgb(0, 0, 0);
    opacity: 0.3;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
  }

  /* Dark Mode: White Stars */
  .dark .star {
    background: white;
    opacity: 0.5;
  }

  

  @keyframes twinkle {
    0%,100%{
      opacity: 0.2;
      box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.2);
    }
    30%{
      opacity: 0.4;
      box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.5);

    }
    50% {
      opacity: 0.6;
      box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.8);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.page-transition {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.page-transition.fade-out {
  opacity: 0;
}